/*reset*/

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    display: none;
}

.wrapper {
    width: 1171px;
    margin: 0px auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* Navigation menu */
nav {
    position: fixed;
    width: 100%;
    height: 69px;
    left: 0;
    right: 0;
    background-color: #1b2126;
    z-index: 5;
}

nav > .wrapper > .container-flex {
    align-items: center;
    height: 69px;
}

#site-nav-links {
    text-align: center;
    color: #b1b5b8;
    font-weight: 800;
    
}

#site-nav-links ul {
    list-style-type: none;
}

#site-nav-links li {
    display: inline-block;
}

.search {
    text-align: right;
    color: red;
    width: 370px;
}

.search-input {
    width: 325px;
}

/* Main */

main {
    padding-top: 69px;
}

.sub-nav {
    height: 52px;
}

/* Side filters */

aside {
    padding-top: 17px;
    padding-right: 17px;
}

/* Filters*/

aside {
    width: 300px;
}

.slider{
    width: 242px;
    height: 23px;
}

/* Content */
.right-content {
    padding-top: 17px;
    padding-left: 17px;
}

.sub-nav p {
    margin-top: 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-item {
    cursor: pointer;
}

.movie-item > img {
    height: 400px;
    width: 270px;
    position: relative;
}

.movie-item:hover > img {
    filter: brightness(50%);
}

.movie-item:hover > .movie-item-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movie-item-bar {
    display: none;
    width: 270px;
    height: 40px;
    margin-top: -46px;
    z-index: 3;
    position: absolute;
    color: white;

    box-sizing: border-box;
    background: rgba(0,0,0,0.7);
}


/*Modal window*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 0 auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
}

.movie-item-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-cover > img {
    width: 440px;
    height: 660px;
    text-align: center;
}

.synopsis-bar {
    display: flex;
    justify-content: space-between;
}

.movie-genres span {
    display: inline-block;
    background-color: #e7eaec;
    width: 86px;
    padding: 2px 0;
    text-align: center;
    border-radius: 4px;
}

.movie-reviews {
    display: flex;
    justify-content: space-between;
    width: 216px;
}

.movie-details {
    padding-left: 20px;
    position: relative;
    flex: 1;
}

.movie-details h3 {
    margin-top: 0;
}

.synopsis {
    height: 269px;
}

.movie-description {
    margin-top: 20px;
    height: 160px;
    overflow: auto;
}

.movie-description p {
    margin-top: 0;
    margin-right: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Sliders */

div > .rzslider{
    width:242px;
}