<!-- The Modal -->
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Title</h2>
        <hr>
        <div class="movie-item-container">
            <div class="movie-cover"><img src="images/temple-grandin.jpg"></div>
            <div class="movie-details">
                <div class="synopsis">
                    <h3>Synopsis</h3>
                    <div class="synopsis-bar">
                        <div class="movie-genres">
                            <span>Aventura</span>
                            <span>Sci-Fi</span>
                        </div>

                        <div class="movie-reviews">
                            <div class="item-icon"><img src="images/star-icon.png"> 8.4</div>
                            <div class="item-icon"><img src="images/tomato-icon.png"> 77%</div>
                            <div class="item-icon"><img src="images/popcorn-icon.png"> 77%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac felis ut enim consectetur pharetra. Aenean molestie consequat risus at pretium. Nunc porttitor augue neque. Fusce et velit imperdiet, efficitur augue in, sagittis est. In gravida egestas lectus eu elementum. Cras facilisis libero nisl. Aenean condimentum eros id porta euismod. Morbi quam est, laoreet vel euismod a, tristique eu magna. Maecenas consectetur magna eu mauris vehicula tristique ac in metus. Phasellus non nisl mi. Sed finibus mollis mi eget hendrerit. Vestibulum dignissim luctus scelerisque. Sed eu eros in lorem aliquet rutrum. Cras porttitor aliquet magna vitae sollicitudin. Sed tincidunt magna a rutrum cursus. Integer lacus lectus, egestas vitae congue interdum, suscipit at tortor. Nunc euismod finibus nulla nec finibus. Etiam et orci vestibulum, pharetra est et, ultricies risus.
                    </p>
                </div>
                <div class="trailer">
                    <h3>Trailer</h3>
                    <iframe width="703" height="342" src="https://www.youtube.com/embed/cpkN0JdXRpM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="subtitles">
            <p>Subs:
                <a href="#">en</a>
                <a href="#">es</a>
                <a href="#">de</a>
            </p>
        </div>
        <hr>
        <div class="siimilar-movies">
            <p>Películas similares</p>
            <div class="covers-container">
                <div>Cover 1, 2 , 3,...</div>
            </div>
        </div>
    </div>

</div>