<!-- The Modal -->
<div id="movie-details-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>{{movieTitle}}</h2>
        <hr>
        <div class="movie-item-container">
            <div class="movie-cover"><img src="{{movieCover}}"></div>
            <div class="movie-details">
                <div class="synopsis">
                    <h3>Sinopsis</h3>
                    <div class="synopsis-bar">
                        <div class="movie-genres">
                            <span>Aventura</span>
                            <span>Sci-Fi</span>
                        </div>

                        <div class="movie-reviews">
                            <div class="item-icon"><img src="images/star-icon.png"> 8.4</div>
                            <div class="item-icon"><img src="images/tomato-icon.png"> 77%</div>
                            <div class="item-icon"><img src="images/popcorn-icon.png"> 77%</div>
                        </div>
                    </div>
                    <div class="movie-description">
                        <p>{{movieOverview}}</p>
                    </div>
                </div>
                <div class="trailer">
                    <h3>Trailer</h3>
                    <iframe width="703" height="342" src="{{movieTrailer}}" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
        </div>
        <div class="subtitles">
            <p>Subs:
                <a href="#">en</a>
                <a href="#">es</a>
                <a href="#">de</a>
            </p>
        </div>
        <hr>
        <div class="siimilar-movies">
            <p>Películas similares</p>
            <div class="covers-container">
                <div>Cover 1, 2 , 3,...</div>
            </div>
        </div>
    </div>

</div>