<!-- The Modal -->
<div id="movie-details-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="movie-title">{{movieTitle}}</h2><span class="movie-year">{{movieYear}}</span>
        <hr>
        <div class="movie-item-container">
            <div class="movie-cover"><img src="{{posterInitalPath+movieCover}}"></div>
            <div class="movie-details">
                <div class="synopsis">
                    <div class="synopsis-bar">
                        <h3 id="movie-synopsis">Sinopsis</h3>
                        <span class="movie-runtime">{{movieRuntime}}</span>
                    </div>
                    <div class="synopsis-bar">
                        <div class="movie-genres">
                            <div ng-repeat="genre in movieGenres track by $index">
                                <span>{{genre.name}}</span>
                            </div>
                        </div>

                        <div class="movie-reviews">
                            <div class="item-icon"><img src="images/star-icon.png"> {{movieVoteAverage}}</div>
                            <div class="item-icon"><img src="images/tomato-icon.png"> {{rottenTomatoes}}</div>
                            <div class="item-icon"><img src="images/popcorn-icon.png"> {{metacritc}}</div>
                        </div>
                    </div>
                    <div class="movie-description">
                        <p>{{movieOverview}}</p>
                    </div>
                </div>
                <div class="trailer">
                    <h3>Trailer <span class="aditional-trailer-info">{{aditionalTrailerInfo}}</span></h3>
                    <iframe width="703" height="342" src="{{movieTrailer}}" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
        </div>
        <div class="subtitles">
            <p>Subs:
                <a href="#">en</a>
                <a href="#">es</a>
                <a href="#">de</a>
            </p>
        </div>
        <hr>
        <div class="similar-movies">
            <p>Películas similares</p>
            <div class="similar-movies-container">
                <div ng-repeat="similarMovie in similarMoviesList track by similarMovie.id" class="similar-movie-item" ng-click="getModal(similarMovie)">
                    <div class="similar-movie-cover">
                        <img src={{posterInitalPath+similarMovie.poster_path}}>
                    </div>
                    <p>{{similarMovie.title}}</p>
                </div>
            </div>
        </div>
    </div>

</div>